$primarycolor: #F1EDEE;
$backgroundcolor: #0B0A07;
$purplecolor: #2B061E;
$lightbluecolor: #63ADF2;
$bluecolor: #102E4A;
$darkblue: #0D1321;
$blueshadow: rgba(17, 47, 75, 0.59);
$darkshadow: rgba(13, 19, 33, 0.71);
$purpleshadow: rgba(45, 6, 31, 0.55);