#formgrid{
    display: grid;
    grid-template-columns: 100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
#login-form{
    background: #BFDBF7;
    border: black solid thick;
    align-self: center;
    justify-self: center;
    transition-delay: .5s;
    width: 20vw;
}
#register-form{
    background: #BFDBF7;
    border: black solid thick;
    display: none;
    align-self: center;
    justify-self: center;
    transition-delay: .5s;
    width: 20vw;
}
.subform{
    display: grid;
    align-content: center;
}
.formbutton{
    display: grid;
    grid-template-columns: 50% 50%;
}
h2{
    text-align: center;
}
h3{
    padding-bottom: 0;
    margin-bottom: 0;
}
input{
    height: 100%;
}